:root {
  --white: #ffffff;
  --blue-50: #eff4ff;
  --blue-100: #dbe6fe;
  --blue-200: #c0d5fd;
  --blue-300: #94bafc;
  --blue-400: #6296f8;
  --blue-500: #3d70f4;
  --blue-600: #2851e8;
  --silver-50: #f6f7f8;
  --silver-100: #ebecee;
  --silver-200: #dcdee1;
  --silver-300: #b7bdc3;
  --silver-400: #a6acb4;
  --silver-500: #9096a1;
  --black: #000000;
}

html,
body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
